stages:
  - build
  - dump

variables:
  build_img: "$CI_REGISTRY/magicaldave1/makron:0.0.7"
  curl_img: curlimages/curl:7.83.0
  pkg_name: "${CI_PROJECT_NAME}.zip"
  pkg_url:
    "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}"

build_tsi:
  image: ${build_img}
  stage: build
  script:
  - make build
  artifacts:
    paths:
      - "Starwind.omwaddon"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_merchants:
  image: ${build_img}
  stage: dump
  script:
  - merchantIndexGrabber
  artifacts:
    paths:
      - "merchantIndexDatabase.json"
  dependencies:
    - build_tsi
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_cells:
  image: ${build_img}
  stage: dump
  script:
  - ./espParser.sh
  artifacts:
    paths:
      - "StarwindDB.zip"
  dependencies:
    - build_tsi
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_DFL:
  image: ${build_img}
  stage: dump
  script:
  - make DFL
  artifacts:
    paths:
      - "DFLDB.zip"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_requiredDataFiles:
  image: ${build_img}
  stage: dump
  script:
  - make requiredfiles
  artifacts:
    paths:
      - "requiredDataFiles.json"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
