stages:
  - build

variables:
  build_img: "$CI_REGISTRY/magicaldave1/makron:0.0.2"
  curl_img: curlimages/curl:7.83.0
  pkg_name: "${CI_PROJECT_NAME}.zip"
  pkg_url:
    "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}"

make:
  image: ${build_img}
  stage: build
  script:
  - apt update && apt-get install -y --force-yes git zip make
  - make
  artifacts:
    paths:
      - "Starwind.omwaddon"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
