stages:
  - build
  - deploy

variables:
  build_img: "$CI_REGISTRY/magicaldave1/makron:0.0.1"
  curl_img: curlimages/curl:7.83.0
  pkg_name: "${CI_PROJECT_NAME}.zip"
  pkg_url:
    "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}"

make:
  image: ${build_img}
  stage: build
  script:
  - apt update && apt-get install -y --force-yes git zip
  - ./build.sh
  artifacts:
    paths:
      - "Starwind.omwaddon"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

upload:
  stage: deploy
  image: ${curl_img}
  script:
    - 'curl -s --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${pkg_name} "${pkg_url}/${pkg_name}"'
    - 'curl -s --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${pkg_name}.sha256sum.txt "${pkg_url}/${pkg_name}.sha256sum.txt"'
    - 'curl -s --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${pkg_name}.sha512sum.txt "${pkg_url}/${pkg_name}.sha512sum.txt"'
