stages:
  - build
  - dump

variables:
  build_img: "$CI_REGISTRY/modding-openmw/makron:0.1.4"
  curl_img: curlimages/curl:7.83.0
  pkg_name: "${CI_PROJECT_NAME}.zip"
  pkg_url: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}"

build_tsi:
  image: ${build_img}
  stage: build
  script:
    - mkdir -p build
    - ./writeDependencyFiles.sh ${MTM_DECRYPT_KEY} build
    - make tsi
  artifacts:
    paths:
      - "Starwind.omwaddon"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

build_vanilla:
  image: ${build_img}
  stage: build
  script:
    - mkdir -p build
    - ./writeDependencyFiles.sh ${MTM_DECRYPT_KEY} build
    - make vanilla
  artifacts:
    paths:
      - "vanilla_Starwind.omwaddon"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

build_cpp:
  image: ${build_img}
  stage: build
  script:
    - make cpp
  artifacts:
    paths:
      - "Starwind_Community_Patch_Project.zip"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_merchants:
  image: ${build_img}
  stage: dump
  script:
    - ls /usr/bin
    - echo -e "content=Morrowind.esm\ncontent=tribunal.esm\ncontent=bloodmoon.esm\ncontent=Starwind.omwaddon" >> $HOME/.config/openmw/openmw.cfg
    - ./writeDependencyFiles.sh ${MTM_DECRYPT_KEY}
    - merchantIndexGrabber
    - rm ./*es*
  artifacts:
    paths:
      - "merchantIndexDatabase.json"
  dependencies:
    - build_tsi
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_cells:
  image: ${build_img}
  stage: dump
  script:
    - make espParser
  artifacts:
    paths:
      - "StarwindDB.tar.gz"
  dependencies:
    - build_tsi
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_DFL:
  image: ${build_img}
  stage: dump
  script:
    - echo "No-op"
  artifacts:
    paths:
      - "DFLDB.tar.gz"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_kTools:
  image: ${build_img}
  stage: dump
  script:
    - make kTools
  artifacts:
    paths:
      - "kToolsDB.tar.gz"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dump_requiredDataFiles:
  image: ${build_img}
  stage: dump
  script:
    - make requiredfiles
  artifacts:
    paths:
      - "requiredDataFiles.json"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
