[Unit]
Description=Tes3mp game server
After=network.target
StartLimitIntervalSec=0
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=10
User=cyanideandfiberglass
ExecStart=/home/cyanideandfiberglass/tes3mp-init.sh

[Install]
WantedBy=multi-user.target
